body {
    margin: 1em auto;
    font-size: 18px;
}

.boardDisp {
    user-select: none;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 95%;
}

#instructions {
    font-size: 14px;
}