html {
    height: 100%;
    width: 100%;
}

body {
    margin: 1em auto;
    font-size: 18px;
    height: 100%;
    width: 100%;
}

.boardDisp {
    user-select: none;
    font-family: "Courier New", Courier, monospace;
    margin: 0 auto 1em;
    padding: 1em;
    text-align: center;
    min-height: 200px;
    height: 80%;
    width: 97%;
    border: 1px solid #000;
}

#instructions {
    font-size: 0.7em;
}

#controlContainer {
    text-align: center;
}